.registrationPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 50px 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #efeded;
  border-radius: 8px;
  box-shadow: 16px 14px 15px -10px rgba(0, 0, 0, 0.34);
}

.card:hover {
  background-color: #dcdcdd;
  box-shadow: 16px 14px 15px 0px rgba(0, 0, 0, 0.34);
  transition: all ease-in-out 0.25s;
}

.card img {
  width: 100px;
}
.infoText {
  position: absolute;
  bottom: -10px;
  display: none;
  background-color: #111111;
  width: 100%;
  font-weight: 600;
}
.infoText p {
  color: #ffff;
  text-align: center;
  padding-top: 10px;
}

.card:hover .infoText {
  bottom: 0;
  display: block;
}

.registerText {
  padding: 0 100px;
  font-size: 26px;
  font-weight: 700;
}
