.contactUsImage {
  max-width: 100vw;
  height: 240px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.form {
  width: 50%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 30%;
  margin-top: 100px;
  margin-right: 10rem;
}
.boxChild {
  height: 30%;
  border-radius: 25px;
  border: 2px solid #d3d3d3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  text-align: center;
}

.boxChild .boxText {
  color: grey;
}
